.sb-breadcrumbs {
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% ) !important;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding: 0 20px;
    height: 55px;
    transition: .3s ease-in-out;
    list-style: none;
    text-decoration: none;
}
.sb-breadcrumbs li a {
    padding: 0 10px;
    opacity: .4;
    transition: .3s ease-in-out;
}

.sb-breadcrumbs li:last-child a {
    cursor: not-allowed;
    opacity: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.sb-breadcrumbs a:after {
    content: "/";
    left: 90px;
    position: absolute;
    color:white;
}

.title {
    background-color: #f9fafc !important;
}
h1 {
    line-height: 110%;
    letter-spacing: -1px;
    color: black;
}
.btnn {
    /* background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% ) !important; */
    border: thin solid  rgba(236,54,110,1);
    text-align: center;
    width: 100%;
    color: #f9fafc !important;
}

.btnn:hover {
    background-image: none !important;
    color: rgba(236,54,110,1) !important;
    border: thin solid  rgba(236,54,110,1) !important;
    background-color: #fff !important;

}

